# For further details check https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners
# default owners
*	@elesto-dao/elesto-core

# add member of the technical writing team for docs
# here pattern matches on any docs folder in the repo
# docs/	@elesto-dao/elesto-core @barriebyron
